services:
  web:
    build:
      context: .
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm start -- --host 0.0.0.0 --port 4200
